#title2
	{
	    color: white;
    font-size: 23px;
    position: relative;
    margin-top: 6%;
    margin-left: -4%;
	
	}
	
	#title3{
	    color: yellow;
    margin-left: -5%;
	
	}
	
	
	 body{
        min-width:860px; /* suppose you want minimun width of 1000px */
        width: auto !important;  /* Firefox will set width as auto */
        width:860px;             /* As IE ignores !important it will set width as 1000px; */
    }
	
	.op
	{
		font-size: 50px;
    color: #fcfcfc;
    height: 90px;
    width: 90px;
    border-radius: 60px;
		
	}

    #background{

        background-image: url('space5.jpg');
        background-repeat:  no-repeat;
       background-size: 100%;
       


        } 
		
		#menuBackground
		{
			background-image:url("planetsCategories.jpg");
			 background-repeat:  no-repeat;
       background-size: 100%;
			
		}

        #nameInput
        {
           
           

}
		#divButton
		{
		    margin-left: 36%;
			    margin-top: 43%;
		}
        #playButtonLink
        {

            color:white;
             

        }
		
		#nameForm
		{
		    margin-left: -6%;
			width: 100%;
		}
#nameInput:focus,
.nameInput.focus {
 border-bottom: solid 2px #00FFFF;
}
            
        }

        body
        {
          font-family: "Short Stack";

        }

        input[type=text] {
           
            }
			
			.fourth {
  border-color: #f1c40f;
  color: #fff;
  background-image: -webkit-linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-image: linear-gradient(45deg, #f1c40f 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
}
.fourth:hover {
  background-position: 0;
}

.bat {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 2px solid #e74c3c;
  border-radius: 0.6em;
  color: #e74c3c;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1;
  margin: 10px;
  padding: 1.8em 2.4em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}


.bat:hover, .bat:focus {
  color: #fff;
  outline: 0;
}
#title1
{
    padding: 10%;
    margin-left: -14%;
    margin-top: 2%;
}

#additionListElement
{
	
	   
    margin-top: 11%;
	
}


#addition
{
	
	    margin-top: 43%;
    margin-left: -27%;
}


#subtraction
{
	
	    margin-left: -94%;
    MARGIN-TOP: 56%;
}

#random
{
	        margin-left: -50%;
    margin-top: 72%;
}


#multiplication
{
	
	    margin-top: 138%;
    margin-left: -131%;
}

#categoryItems
{
	
	padding-bottom:30%;
	
	
}

#welcomeText{

background-image: url(welcomeText.png);
    background-size: 75%;
    padding-top: 17%;
    height: 71px;
    background-position: center;
    background-repeat: no-repeat;
}

#addition:hover{
    color: #efefef;
	font-size:60px;
   
}
#subtraction:hover{
    color: #efefef;
	font-size:60px;
    
}
#multiplication:hover{
    color: #efefef;
	font-size:60px;
    
}
#division:hover{
    color: #efefef;
	background-size:100%;
	font-size:60px;
    
}	
#random:hover{
    color: #efefef;
	font-size:60px;
   
}

#division{
	
	background-image: url("divisionOperator.png");
	background-repeat:  no-repeat;
	background-size:85%;
	    margin-left: -11%;
    margin-top: 108%;
	height: 50px;
    width: 50px;

}
.rocketHealth
{
	
	background-image: url("rocketPNG1.png");
	background-repeat:  no-repeat;
	 background-size: 85%;
	 height:100px;
	 width:60px;
     
       
	
}
.rocketHealth:hover{
	 background-size:100%;
}
#scoreText
{
	
	background-image: url("score.png");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 20px;
    width: 77px;
    margin-left: 3pc;
    padding-bottom: 30px;
	margin-top: 6%;
    margin-left: 5%;
}

#score
{
	
	margin-top: 11%;
    margin-left: -31%;
    font-size: 42px;
}

#healthText

{
	
	    background-image: url("rocketText.png");
    background-repeat: no-repeat;
    background-size: 100%;
   height: 21px;
    width: 99px;
    margin-left: 2pc;
    padding-bottom: 30px;
}



#gameBackground
{
	background-image: url("backgroundGameFinal2.jpg");
	background-repeat:  no-repeat;
	 background-size: 100%;
	
	
}

#answer
{
	    width: 89%;
    height: 100%;
    border-radius: 5%;
    margin-top: -33%;
	margin-left: -124%;
	 position: relative;
             background: transparent;
             border: none;
             border-bottom: 2px solid #00FFFF;
              padding: 10px;
              
 
            transition: border 0.3s;
	
}

#num1
{
	
	    margin-left: 156%;	
}
#operator
{
	margin-left: 108%;
	
}

#eq
{
	
	margin-left:-90%;
}
#lives
{
margin-top: 11%;
    width: 38%;
	
	
}
.fifth {
  border-color: #8e44ad;
  border-radius: 0;
  color: #8e44ad;
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.fifth:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: #8e44ad;
  z-index: -1;
  -webkit-transition: width 150ms ease-in-out;
  transition: width 150ms ease-in-out;
}
.fifth:hover {
  color: #fff;
}
.fifth:hover:after {
  width: 110%;
}

#check1
{
	
	margin-left: auto;
    margin-right: auto;
    margin-top: -7%;
	color:white;	
}
#progressBar
{
	
	margin-left:26%;
	padding-bottom:7.8%;
	
}

#cancel
{
	background-image: url("finish.png");
	background-repeat:  no-repeat;
	 background-size: 90%;
	     width: 100px;
    height: 100px;
	margin-top:  -756%;
    margin-left: 9%;
	-webkit-transform: rotate(5deg);
}



#finish{
    background-image: url(cancel.png);
    background-repeat: no-repeat;
    background-size: 90%;
    width: 100px;
    height: 100px;
    margin-top: -561%;
    display: block;
    margin-left: 25%;
	-webkit-transform: rotate(-13deg);
}
#cancel:hover,
#finish:hover{
background-size: 105%;	
}


#operator, #num1, #num2, #eq
{
	color:white;
	
}